<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>@Html.Sitecore().Field("Title", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" type="text/css" href="~/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="~/Css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="~/Css/Difficulty.css">
    </head>
<body class="header-static ">
    <div id="main-container">
        @Html.Sitecore().Placeholder("header")
        <main>
            <section class="page-header">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-4">
                            @Html.Sitecore().Rendering("{56166971-1E9E-47FC-9484-495EA9A8118C}", new
                                    {
                                    Cacheable = true,
                                    Cache_VaryByData = true,
                                    DataSource = "{7F892E93-E679-4B8A-8CA3-266C27A7DB72}"
                                    })
                        </div>
                        <div class="col-lg-8">
                            @Html.Sitecore().Placeholder("main")
                        </div>
                    </div>
                </div>
            </section>
            
            

        </main>
        @Html.Sitecore().Placeholder("footer")
    </div>
    <script src="~/Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="~/Scripts/Navigation.js"></script>
</body>
</html>